{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block body %}
<h1><a href="{{url_for('.upload')}}">Upload Images and Videos</a></h1>
<div class="uploads">
	{% raw %}
	<div class="upload mb-5 pb-3" v-for="upload in uploads">
		<h3>{{upload.title}}, Uploaded By: {{upload.user.first_name}} {{upload.user.last_name}}</h3>
		{% endraw %}
		{% if current_user.is_admin %}
		<h5 class="text-danger" @click="deleteUpload(upload.uuid)"> Delete</h5>
		{% endif %}
		{% raw %}

		<div class="files">
			<div class="grid-sizer"></div>
			<template v-for="file in upload.files">
				<div class="grid-item " v-if="file.media_type == 'image'">
					<a :href="s3(file.s3_key)" :data-fancybox="upload.uuid">
						<div class="image" :style="{'background-image': 'url('+s3(file.s3_key)+')'}">
						</div>

					</a>
				</div>
				<div class="grid-item" v-if="file.media_type == 'video'">
					<div class="loading" v-if="!file.cf_data">loading...</div>
					<template v-else>
						<a :href="cfGif(file.cf_data.result.uid)" v-if="!file.cf_data.result.readyToStream" :data-fancybox="upload.uuid">
							<div class="image" :style="{'background-image': 'url('+cfGif(file.cf_data.result.uid)+')'}">
							</div>
							<div class="encoding">Encoding...</div>
						</a>
						<a :href="cfEmbed(file.cf_data.result.uid)" v-if="file.cf_data.result.readyToStream" :data-fancybox="upload.uuid" data-type="iframe">
							<div class="image" :style="{'background-image': 'url('+cfGif(file.cf_data.result.uid)+')'}">
							</div>
						</a>
					</template>
				</div>
			</template>
			
		</div>
	</div>
	{% endraw %}


	
</div>

{% endblock %}

{% block scripts %}
<!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<script type="text/javascript">
	var app = new Vue({
			el: '.uploads',
			data: {
				uploads: []
			},
			methods: {
				s3: function(key){
					return "{{S3_PUBLIC_PATH}}"+key;
				},
				cfGif: function(uid){
					return "https://videodelivery.net/" + uid + "/thumbnails/thumbnail.gif";
				},
				cfEmbed: function(uid){
					return "https://watch.cloudflarestream.com/" + uid;
				},
				percent: function(percent){
					return parseFloat(percent).toFixed(0) + '%';
				},
				getData: function(){
					var self = this;
					api.get('uploads').then(function(response){
						self.uploads = response.data.uploads;
						for (var i = 0; i < self.uploads.length; i++){
							for (var j = 0; j < self.uploads[i].files.length; j++){

								if (self.uploads[i].files[j].media_type == 'video'){
									self.uploads[i].files[j].cf_data = false;
									self.updateVideo(self.uploads[i].files[j].cf_uid, i, j);
								}
							}
						}
						self.reflow();
					});
				},
				updateVideo: function(uid, uploadIdx, fileIdx){
					var self = this;
					api.get('cf_info/'+self.uploads[uploadIdx].files[fileIdx].cf_uid).then(function(response){
						self.uploads[uploadIdx].files[fileIdx].cf_data = response.data;
						self.$forceUpdate();
					});

				},
				reflow: function(){
					jQuery('.files').each(function(){
						jQuery(this).masonry({
							itemSelector: '.grid-item'
						})
					});
				},
				deleteUpload: function(uuid){
					if (confirm('are you sure?')){
						var self = this;
						api.delete('upload/'+uuid).then(function(response){
							self.getData();
						});
					}
				}
			},
			created: function(){
				this.getData();
			},
		});

</script>
{% endblock %}