*, *::before, *::after {
	box-sizing: border-box;
}

html,
body {
    background-color: #B2E1EC;
    color: #1B4C25;
    font-family: 'Kavivanar', cursive;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover
    {
    background-color: #1B4C25;
    color: white;
}

.logo-wrap {
    height: 100px;
    display: flex;
}

.logo {
    height: 100px;
}

.upload {
    border-bottom: 5px solid #1B4C25;
}

.files {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.grid-sizer,
.grid-item {
    /*border: 2px solid #1B4C25;*/
    width: 33.3333%;
    float: left;
}

.grid-sizer {
	display: none;
}

stream {
    width: 100%;
    height: auto;
}

.grid-item a {
	position: relative;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.grid-item .encoding {
	width: 100%;
	text-align: center;
	color: #1B4C25;
}

.grid-item .image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 33vw;
}

.grid-item .image img {
    opacity: 0;
    max-width: 100%;
}
#home {
    color: #1B4C25;
}